<?xml version="1.0" encoding="UTF-8" ?>  
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		<mapper namespace="com.zicms.web.sys.mapper.SysIdCardMapper">

	<sql id="sysIdCardColumns">
		ID,PROVINCE,CITY,ZONE,NAME,CREATE_BY,CREATE_DATE,UPDATE_BY,UPDATE_DATE,DEL_FLAG
	</sql>

	<sql id="aliasSysIdCardColumns">
		a.ID,a.PROVINCE,a.CITY,a.ZONE,a.NAME,a.CREATE_BY,a.CREATE_DATE,a.UPDATE_BY,a.UPDATE_DATE,a.DEL_FLAG
	</sql>



	<select id="findPageInfo" resultType="com.zicms.web.sys.model.SysIdCard">
		select  <include refid="aliasSysIdCardColumns" /> 
			from sys_id_card  a 
		<where>
			1= 1
			and a.del_flag = 0
			<if test="@Ognl@isNotBlank(province)">
			    and a.PROVINCE like CONCAT( '%' , #{province}, '%') 
			</if>
			<if test="@Ognl@isNotBlank(city)">
			    and a.CITY like CONCAT( '%' , #{city}, '%') 
			</if>
			<if test="@Ognl@isNotBlank(zone)">
			    and a.ZONE like CONCAT( '%' , #{zone}, '%') 
			</if>
			<if test="@Ognl@isNotBlank(name)">
			    and a.NAME like CONCAT( '%' , #{name}, '%') 
			</if>
			<if test="@Ognl@isNotBlank(createBy)">
			    and a.CREATE_BY like CONCAT( '%' , #{createBy}, '%') 
			</if>
			<if test="@Ognl@isNotBlank(createDateStart)">
			    and a.CREATE_DATE &gt;=  #{createDateStart}
			</if>
			<if test="@Ognl@isNotBlank(createDateEnd)">
			    and a.CREATE_DATE &lt;=  #{createDateEnd}
			</if>
			<if test="@Ognl@isNotBlank(updateBy)">
			    and a.UPDATE_BY like CONCAT( '%' , #{updateBy}, '%') 
			</if>
			<if test="@Ognl@isNotBlank(updateDateStart)">
			    and a.UPDATE_DATE &gt;=  #{updateDateStart}
			</if>
			<if test="@Ognl@isNotBlank(updateDateEnd)">
			    and a.UPDATE_DATE &lt;=  #{updateDateEnd}
			</if>

		</where>
		<if test="@Ognl@isNotBlank(sortC) and @Ognl@isNotBlank(order)"> 
			ORDER BY a.${sortC}   ${order}
		</if>
	</select>
	
		
</mapper>