<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
    html {
      width:2000px;
    }
    
    .box {
      float:left;
    }
    .second ,.firth {
      margin-left:25px;
    }
    
    </style>
</head>
<body>
<div class="first box">
<iframe src="admin/getProCount.html" scrolling="no" width="750px" frameborder="0" height="600"></iframe>
</div>

<div class="second box">
<iframe src="admin/getCount.html" scrolling="no" width="750px" frameborder="0" height="600"></iframe>
</div>

<div class="third box">
<iframe src="admin/getHostCount.html" scrolling="no" width="750px" frameborder="0" height="600"></iframe>
</div>

<div class="firth box">
<iframe src="admin/getIpCount.html" scrolling="no" width="750px" frameborder="0" height="600"></iframe>
</div>
<script type="text/javascript">
$(function() {
	$("#sx").hide();
}); 
</script>
</body>
</html>